In [11]:
import pandas as pd
import plotly.express as px
import plotly.offline as pyo
import os

In [13]:
df=pd.read_csv("gdp.csv")
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

## GDP of each country

In [24]:
os.mkdir('GDPS Individual')
for country_name in df['Country Name'].unique():
    df_pr=df[df['Country Name']==country_name]
    fig=px.line(df_pr,x='Year',y='Value',title=country_name+'GDP Analysis')
    pyo.plot(fig, filename='GDPS Individual/'+country_name+'.html', auto_open=False)