In [53]:
import pandas as pd
import os
import plotly.express as px
import plotly.offline as pyo

In [55]:
df=pd.read_csv("gdp.csv")
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [57]:
final_data=[]

for country_name in df['Country Name'].unique():
    df_pr=df[df['Country Name']==country_name]
    data= df_pr.values
    gdp_change=[0]

    for i in range(1,len(data)):
        prev=data[i-1][3]
        cur=data[i][3]

        gdp_change.append(round(((cur-prev)/prev)*100,2))
    df_pr=df_pr.assign(GDP=gdp_change)
    final_data.append(df_pr)

df=pd.concat(final_data,axis=0)    
df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

In [65]:

def compare_gdp(lst, isOpen):
    dfs=[]
    for i in lst:
        dfs.append(df[df['Country Code']==i])
        df_pr=pd.concat(dfs,axis=0)

    fig= px.line(df_pr, x='Year',y='GDP',title='GDP Comparsion -'+'|'.join(lst),
               color='Country Name')
    pyo.plot(fig, filename= '|'.join(lst)+ '.html',auto_open=isOpen)

In [67]:
compare_gdp(['IND','USA'],False)

OSError: [Errno 22] Invalid argument: 'IND|USA.html'

In [47]:
fig=px.line(df,x='Year',y="GDP",title="GDP Comparsion", color='Country Name')
pyo.plot(fig, filename="GDP Growth.html",auto_open=isOpen)

NameError: name 'isOpen' is not defined